@import "../../../../common/color.scss";

.detail__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 40px;

    .detail__card__img {
        img {
            border-radius: 10px;
        }

    }

    .detail__card__text {
        margin-top: 40px;
        padding: 20px;

        p {
            margin-top: 20px;
        }

        span {
            margin-top: 20px;
            display: inline-block;
            margin-right: 20px;
            color: $font-secondary;
            font-weight: 500;

            .star,
            .reel,
            #like,
            .year {
                color: goldenrod;
                font-size: 20px;
                position: relative;
                top: 3px;
            }

            #like {
                color: white;
            }

            .reel {
                color: $font-primary;
                left: 3px;
                top: 5px;
            }

            .year {
                color: $font-primary;
            }

        }
    }
}



@media(min-width:768px) {
    .detail__card {
        flex-direction: row;
        justify-content: space-around;
        width: 85%;
        margin: 40px auto;
    }
}