@import "../../common/color.scss";

.header {
    height: 120px;
    // background-color: $secondary-color;

    .logo__text {
        position: relative;
        top: -30px;
        left: -15px;
        text-decoration: none;
        color: $font-primary;
        font-size: 20px;
        font-weight: 600;
        z-index: 99;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.nav__link {
    color: $font-primary;
    margin: 0 16px;
    position: relative;

}

.nav__link::before {
    content: '';
    background-color: $font-secondary;
    width: 0;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -5px;
    border-radius: 3px;
    visibility: hidden;
    transition: width 0.4s ease-in-out;

}

.nav__link:hover::before {
    visibility: visible;
    width: 100%;
}

.nav__link:focus {
    color: pink;
}

.search__form {


    input {
        width: 230px;
        height: 35px;
        background-color: $font-primary;
        border-radius: 4px;
        text-align: center;
        z-index: 99;
    }

    input:focus {
        outline: none;
    }

    #search__btn {
        width: 40px;
        height: 33px;
        z-index: 99;
    }
}

@media (min-width:768px) {
    .header {
        height: 70px;

        .header__container {
            flex-direction: row;
        }
    }
}