@import "../../../common/color.scss";


.movie__container,
.show__container {
    width: 85%;
    margin: 0 auto;

    .heading {
        font-size: 24px;
        font-weight: 550;
        margin: 14px 0;
    }
}


.show__container {
    margin-top: 160px;
    margin-bottom: 50px;
}